:root {
    --p1: #240D57;
    --p2: #501FC1;
    --p3: #8456EC;
    --p4: #E87BF8;
    
    --s1: #CCB6FF;
    --s2: #EDE5FF;
    --s3: #F6F2FF;
    
    --a1: #FFD7E0;
    --a2: #E61445;
    --a3: #D3FFE2;
    --a4: #00805E;

    --n1: #4F4F4F;
    --n2: #828282;
    --n3: #BDBDBD;
    --n4: #E0E0E0;
    --n5: #F2F2F2;
    --n6: #BDBDBD;

    --purple-gradient: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
}